<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/styles.css">
  <title>Российская футбольная премьер-лига</title>
</head>

<body>
  <h1>РФПЛ 2020/2021</h1>
  <h2>Таблица</h2>
  <table>
    <tr class="table_head">
      <th>Место</th>
      <th class="club_column">Команда</th>
      <th>Игры</th>
      <th>Выигрыши</th>
      <th>Ничьи</th>
      <th>Проигрыши</th>
      <th>Забито</th>
      <th>Пропущено</th>
      <th>Разность</th>
      <th>Очки</th>
    </tr>
    <tr>
      <td>1</td>
      <td class="club_column">Зенит (Санкт-Петербург)</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>2</td>
      <td class="club_column">ЦСКА (Москва)</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </table>




</body>

</html>